/* e5e1ee-dffdff-90bede-68edc6-90f3ff */
/* 88a2aa-ADA296-E2856E-F42C04-0F1A20 */

nav {
  display: flex !important;
  background-color: #88a2aa;
  padding: 5px;
  width: 100vw;
  justify-content: space-between;
  border: 1px solid #f42c04;
}
nav h2 {
  font-family: "Playfair Display";
}

.nav-links {
  display: flex;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
  font-family: "Playfair Display";
  font-weight: 900;
  color: #0f1a20;
  padding: 5px;
}

nav a:hover {
  border-bottom: 1px solid;
  color: #e2856e;
}

#table-title {
  text-align: center;
  font-family: "Playfair Display";
  padding-top: 25px;
}
#new-expense {
  text-align: center;
  font-family: "Playfair Display";
  display: flex;
  justify-content: center;
  align-self: center;
}

main {
  min-height: 75vh;
}

form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 100vw;
  height: 80vh;
}

form label {
  font-family: "Playfair Display";
  padding: 5px;
}

form input {
  font-family: "Playfair Display";
  width: 15vw;
  box-sizing: border-box;
}

.name-date {
  grid-row: 2/3;
  display: flex;
  margin-right: 5px;
  flex-direction: row;
  padding-bottom: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.amount-notes {
  grid-row: 3/4;
  display: flex;
  margin-right: 16px;
  flex-direction: row;
  padding-bottom: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.status {
  display: flex;
  flex-direction: row;
  grid-row: 4/5;
  padding-bottom: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-self: center;
  justify-content: center;
}

button {
  height: 70px;
  width: 120px;
  border-radius: 10% !important;
}

.footer {
  background-color: #88a2aa;
  display: flex;
  justify-content: center;
  border: 1px solid #f42c04;
}

img {
  height: 75px;
  padding: 10px;
}

@media screen and (max-width: 320px) {
  button {
    height: 50px;
    width: 90px;
    border-radius: 10% !important;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 80%;
  }
}
